
.pg-project-inside {
  margin-bottom: 100px
}

.pg-project-inside__header {
  margin-bottom: 3rem
}
.proj-header,
.project-card__image,
.series-card {
    box-shadow: 0 15px 35px rgba(184, 194, 205, .43)
}

@media (max-width:767px) {
  .news_tiled .news__title {
      font-size: 14px !important;
      
      margin-bottom: 1rem
  }

  .proj-header__thumb{
      display: none;
  }
  .proj-header__content{
      margin: 0 !important;
  }
  
}

.proj-header {
  background-color: #fff;
  overflow: hidden;
  border-radius: 15px
}

.proj-header__body {
  padding: 3rem;
  display: flex;
  align-items: flex-start
}

@media (max-width:767px) {
  .proj-header__body {
      padding: 1.5rem
  }
}

.proj-header__thumb {
  width: 8.5rem;
  height: 8.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0
}

.proj-header__thumb img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%
}

.proj-header__content {
  margin-left: 3rem
}

.proj-header__title-wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem
}

.proj-header__title {
  margin-bottom: 0;
  font-weight: 900;
  font-size: 2.4rem;
  font-family: Museo, verdana, cursive, sans-serif;
  line-height: 1
}

.proj-header__details {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.4rem
}

.proj-header__text {
  color: rgba(37, 53, 54, .8)
}


.proj-header__image {
  height: 260px
}

.proj-header__image img {
  display: block
}

.proj-header__image img,
.proj-header__thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.series-card__image img,
.series-card_small .series-card__image img {
  height: 100% !important
}

.proj-header__content {
  flex: 1 1
}

.pg-project-inside__header {
  margin-bottom: 3rem
}

.proj-header__image {
  height: 260px
}

.proj-header__image img {
  display: block
}

.proj-header__image img,
.proj-header__thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover
}


.series-wrp__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
  margin-right: -3rem
}

@media (min-width:768px) and (max-width:1279px) {
  .series-wrp__list {
      margin-right: -2rem
  }
}

@media (max-width:767px) {
  .series-wrp__list {
      margin-right: -1rem
  }
}

.series-wrp__item {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 3rem;
  width: calc((100% - 12rem)/4)
}

@media (min-width:768px) and (max-width:1279px) {
  .series-wrp__item {
      margin-right: 2rem;
      width: calc((100% - 6rem)/3)
  }
}

@media (max-width:767px) {
  .series-wrp__item {
      width: calc((100% - 2rem)/2);
      margin-right: 1rem
  }
}
.series-wrp__list {
    align-items: unset
}
.recommended__inner .series-wrp__list {
    margin-top: 0;
    margin-bottom: 0
}
.series-wrp__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
    margin-right: -3rem
}
.series-card__image img,
.series-card_small .series-card__image img {
    height: 100% !important
}
.series-card_small.played .series-card__image {
    border-color: #00ce77
}

.series-card_small .series-card__image {
    border: 3px solid transparent
}

.series-card__mini-info strong {
    display: inline-block
}

.series-card_small.played .series-card__mini-info {
    padding-left: 23px;
    background: url(/static/media/triangle.26a0fb8c.svg) no-repeat top 3px left
}
.all-series-card__link,
.cascade-card__link,
.person-card__link,
.project-card__link,
.series-card__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
.series-card__link {
    z-index: 5
}

.all-series-card__link {
  z-index: 5
}